/**
 * custom element
 */
.cakeresume-html-editor {
  position: fixed;
  top: 71px;
  right: 0;
  z-index: 2147483601;
  display: flex;
  width: 700px;
  height: calc(100vh - 40px);
  padding-top: 5px;
  background: #1e1e1e;
  box-shadow: -2px 0 5px 0 #101518;
  transform: translateX(720px);
  transition: transform 0.5s cubic-bezier(0.2, 1, 0.3, 1) 0s;

  .tools {
    display: flex;
    flex-direction: column;
    width: 50px;
    background: #1e1e1e;
    border-right: 1px solid #5b636a;

    .toolBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      color: #5b636a;
      font-size: 24px;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        color: #c7cdd2;
      }
    }

    .toolBtnToggleCollapse {
      transform: rotate(0);
      transition: transform 0.5s cubic-bezier(0.2, 1, 0.3, 1) 0s;
    }
  }

  .editorContainer {
    flex: 1 0 0;
  }

  &.open {
    transform: translateX(0);

    &.collapsed {
      transform: translateX(650px);

      .tools {
        .toolBtnToggleCollapse {
          transform: rotate(540deg);
        }
      }
    }
  }
}

.toolbar-btn {
  &.btn-openEditor {
    color: #232a31;
    background: #ffd333;

    &:hover {
      color: #1d2228;
      background: #ff8b12;
    }
  }
}

.ui-draggable.editorOpen {
  &::before {
    position: absolute;
    top: -15px;
    right: -15px;
    bottom: -15px;
    left: -15px;
    border: 1px solid #ffd333;
    border-radius: 3px;
    content: '';
  }
}

/**
 * override
 */
.navbar-item {
  z-index: 2147483602 !important;
}
